[submodule "Frameworks/AlamofireImage"]
	path = Frameworks/AlamofireImage
	url = https://github.com/Alamofire/AlamofireImage.git
[submodule "Frameworks/onepassword-app-extension"]
	path = Frameworks/onepassword-app-extension
	url = https://github.com/AgileBits/onepassword-app-extension.git
[submodule "Frameworks/ios-snapshot-test-case"]
	path = Frameworks/ios-snapshot-test-case
	url = https://github.com/facebook/ios-snapshot-test-case.git
[submodule "Frameworks/ReactiveExtensions"]
	path = Frameworks/ReactiveExtensions
	url = https://github.com/kickstarter/Kickstarter-ReactiveExtensions.git
[submodule "Frameworks/Argo"]
	path = Frameworks/Argo
	url = http://github.com/thoughtbot/Argo.git
[submodule "Frameworks/Curry"]
	path = Frameworks/Curry
	url = https://github.com/thoughtbot/Curry.git
[submodule "Frameworks/Prelude"]
	path = Frameworks/Prelude
	url = https://github.com/kickstarter/Kickstarter-Prelude.git
[submodule "Frameworks/Runes"]
	path = Frameworks/Runes
	url = https://github.com/thoughtbot/Runes.git
[submodule "ios-ksapi"]
	path = ios-ksapi
	url = https://github.com/kickstarter/ios-ksapi
