[submodule "Frameworks/AlamofireImage"]
	path = Frameworks/AlamofireImage
	url = https://github.com/Alamofire/AlamofireImage.git
[submodule "Frameworks/onepassword-app-extension"]
	path = Frameworks/onepassword-app-extension
	url = https://github.com/AgileBits/onepassword-app-extension.git
[submodule "Frameworks/ios-snapshot-test-case"]
	path = Frameworks/ios-snapshot-test-case
	url = https://github.com/facebook/ios-snapshot-test-case.git
[submodule "Frameworks/KsLive"]
	path = Frameworks/KsLive
	url = https://github.com/kickstarter/kickstarter-live-ios.git
[submodule "Frameworks/ios-ksapi"]
	path = Frameworks/ios-ksapi
	url = https://github.com/kickstarter/ios-ksapi
