# And operator &&
--disable andOperator

# Indent by 2 spaces
--indent 2

# Commas
--commas inline

# Range operators
--ranges no-space

# Headers
--header strip

# Unused args
--stripunusedargs always

# Wrap
--wraparguments before-first
--wrapcollections before-first

# Void instead of `()` tuple
--disable void,redundantInit,redundantSelf

# Excluded
--exclude bin,Carthage,Frameworks,Library/Styles/Colors.swift,Library/Strings.swift,vendor
