# fileHeader
--header strip

# indent
--indent 2

# numberFormatting
--decimalgrouping 3
--hexgrouping "ignore"

# redundantSelf
# Reference `self` explicitly
--self insert

# spaceAroundOperators
--nospaceoperators ...,..<

# wrap
--maxwidth 110

# trailingCommas
--commas inline

# unusedArguments
--stripunusedargs always

# wrapArguments
--wraparguments before-first
--wrapcollections before-first

# Disabled rules
--disable redundantInit
--disable void

# Excluded files
--exclude bin,Carthage,Frameworks,Library/Strings.swift,Library/Styles/Colors.swift,vendor
