### Internal

github "kickstarter/Kickstarter-ReactiveExtensions" "e3f7786b5bcc7b99c14b9fd313302bb59d9c3fe9"

### 3rd Party

github "microsoft/appcenter-sdk-apple" == 4.0.0
github "ReactiveCocoa/ReactiveSwift" == 6.5.0
github "segmentio/analytics-ios" == 4.1.2
github "appboy/appboy-segment-ios" == 4.0.0


### Binaries

binary "https://raw.githubusercontent.com/Appboy/appboy-ios-sdk/master/appboy_ios_sdk_full.json" == 4.3.2
binary "https://raw.githubusercontent.com/PerimeterX/px-iOS-Framework/master/PerimeterX.json" == 1.13.9
