<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553793001056-rpgv1kgfrq1fmr2b3bfsio2fa8daaipc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553793001056-rpgv1kgfrq1fmr2b3bfsio2fa8daaipc</string>
	<key>API_KEY</key>
	<string>AIzaSyAzvkeSkfEDlGxmsR2ZFFd20KoQn_UVvQw</string>
	<key>GCM_SENDER_ID</key>
	<string>553793001056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kickstarter.kickstarter</string>
	<key>PROJECT_ID</key>
	<string>kickstarter-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>kickstarter-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553793001056:ios:ad625811c8bc0e38</string>
	<key>DATABASE_URL</key>
	<string>https://kickstarter-ios.firebaseio.com</string>
</dict>
</plist>