version: 2

xcode_version: &xcode_version 10.3.0
iphone_name: &iphone_name iPhone 8
fabric_sdk_version: &fabric_sdk_version 3.10.5
hockey_sdk_version: &hockey_sdk_version 5.1.4
store_hockey_sdk_version: &store_hockey_sdk_version echo "$HOCKEY_SDK_VERSION" > hockey_version.txt
store_fabric_sdk_version: &store_fabric_sdk_version echo "$FABRIC_SDK_VERSION" > fabric_version.txt
preload_simulator: &preload_simulator xcrun instruments -w "iPhone 8 (12.4) [" || true

base_job: &base_job
  macos:
    xcode: *xcode_version
  working_directory: ~/kickstarter
  environment:
    CIRCLE_ARTIFACTS: /tmp
    BUNDLE_PATH: vendor/bundle
    FL_OUTPUT_DIR: output
    LC_ALL: en_US.UTF-8
    LANG: en_US.UTF-8
    FABRIC_SDK_VERSION: *fabric_sdk_version
    HOCKEY_SDK_VERSION: *hockey_sdk_version
    IPHONE_NAME: *iphone_name
    XCODE_VERSION: *xcode_version

jobs:
  build-and-cache:
    <<: *base_job
    steps:
      - restore_cache:
          keys:
            - source-v1-{{ .Branch }}-{{ .Revision }}
            - source-v1-{{ .Branch }}-
            - source-v1-

      - checkout

      - run:
          name: Store Fabric SDK Version
          command: *store_fabric_sdk_version

      - restore_cache:
          name: Restore Fabric SDK
          keys:
            - fabric-sdk-cache-{{ checksum "fabric_version.txt" }}

      - run:
          name: Store Hockey SDK Version
          command: *store_hockey_sdk_version

      - restore_cache:
          name: Restore Hockey SDK
          keys:
            - hockey-sdk-cache-v1-{{ checksum "hockey_version.txt" }}

      - run:
          name: Store Xcode Version
          command: xcodebuild -version > xcode_version.txt

      - restore_cache:
          name: Restore Carthage
          keys:
            - carthage-cache-v1-{{ checksum "Cartfile.resolved" }}-{{ checksum "xcode_version.txt" }}

      - run:
          name: Bootstrap
          command: make bootstrap

      - save_cache:
          name: Cache Carthage
          key: carthage-cache-v1-{{ checksum "Cartfile.resolved" }}-{{ checksum "xcode_version.txt" }}
          paths:
            - Carthage

      - save_cache:
          name: Cache git
          key: source-v1-{{ .Branch }}-{{ .Revision }}
          paths:
            - ".git"

      - save_cache:
          name: Cache Fabric SDK
          key: fabric-sdk-cache-{{ checksum "fabric_version.txt" }}
          paths:
            - "Frameworks/Fabric"

      - save_cache:
          name: Cache Hockey SDK
          key: hockey-sdk-cache-v1-{{ checksum "hockey_version.txt" }}
          paths:
            - "Frameworks/HockeySDK"

      - restore_cache:
          name: Restore Bundler
          keys:
            - v1-gems-{{ checksum "Gemfile.lock" }}

      - run:
          name: Install Bundler
          command: bundle check || bundle install
          environment:
            BUNDLE_JOBS: 4
            BUNDLE_RETRY: 3

      - save_cache:
          name: Cache Bundler
          key: v1-gems-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      - run:
          name: Danger
          command: bundle exec danger --verbose

  # Kickstarter tests
  kickstarter-tests:
    <<: *base_job
    steps:
      - restore_cache:
          keys:
            - source-v1-{{ .Branch }}-{{ .Revision }}
            - source-v1-{{ .Branch }}-
            - source-v1-

      - checkout

      - run:
          name: Store Fabric SDK Version
          command: *store_fabric_sdk_version

      - restore_cache:
          keys:
            - fabric-sdk-cache-{{ checksum "fabric_version.txt" }}

      - run:
          name: Store Hockey SDK Version
          command: *store_hockey_sdk_version

      - restore_cache:
          name: Restore Hockey SDK
          keys:
            - hockey-sdk-cache-v1-{{ checksum "hockey_version.txt" }}

      - run:
          name: Store Xcode Version
          command: xcodebuild -version > xcode_version.txt

      - restore_cache:
          name: Restore Carthage Cache
          keys:
            - carthage-cache-v1-{{ checksum "Cartfile.resolved" }}-{{ checksum "xcode_version.txt" }}

      - run:
          name: Bootstrap
          command: make bootstrap

      - run:
          name: Pre-load simulator
          command: *preload_simulator

      - run:
          name: Kickstarter tests
          command: PLATFORM=iOS make test
          no_output_timeout: "20m" # 20 minutes

      - store_artifacts:
          path: /tmp/xcode_raw.log
      - store_artifacts:
          path: /tmp/FailureDiffs

  # Library tests
  library-tests:
    <<: *base_job
    steps:
      - restore_cache:
          keys:
            - source-v1-{{ .Branch }}-{{ .Revision }}
            - source-v1-{{ .Branch }}-
            - source-v1-

      - checkout

      - run:
          name: Store Fabric SDK Version
          command: *store_fabric_sdk_version

      - restore_cache:
          keys:
            - fabric-sdk-cache-{{ checksum "fabric_version.txt" }}

      - run:
          name: Store Hockey SDK Version
          command: *store_hockey_sdk_version

      - restore_cache:
          name: Restore Hockey SDK
          keys:
            - hockey-sdk-cache-v1-{{ checksum "hockey_version.txt" }}

      - run:
          name: Store Xcode Version
          command: xcodebuild -version > xcode_version.txt

      - restore_cache:
          name: Restore Carthage Cache
          keys:
            - carthage-cache-v1-{{ checksum "Cartfile.resolved" }}-{{ checksum "xcode_version.txt" }}

      - run:
          name: Bootstrap
          command: make bootstrap

      - run:
          name: Pre-load simulator
          command: *preload_simulator

      - run:
          name: Library tests
          command: PLATFORM=iOS TARGET=Library make test
          no_output_timeout: "20m" # 20 minutes

      - store_artifacts:
          path: /tmp/xcode_raw.log

  # Kickstarter UI Tests
  kickstarter-ui-tests:
    <<: *base_job
    steps:
      - restore_cache:
          keys:
            - source-v1-{{ .Branch }}-{{ .Revision }}
            - source-v1-{{ .Branch }}-
            - source-v1-

      - checkout

      - run:
          name: Store Fabric SDK Version
          command: *store_fabric_sdk_version

      - restore_cache:
          keys:
            - fabric-sdk-cache-{{ checksum "fabric_version.txt" }}

      - run:
          name: Store Hockey SDK Version
          command: *store_hockey_sdk_version

      - restore_cache:
          name: Restore Hockey SDK
          keys:
            - hockey-sdk-cache-v1-{{ checksum "hockey_version.txt" }}

      - run:
          name: Store Xcode Version
          command: xcodebuild -version > xcode_version.txt

      - restore_cache:
          name: Restore Carthage Cache
          keys:
            - carthage-cache-v1-{{ checksum "Cartfile.resolved" }}-{{ checksum "xcode_version.txt" }}

      - run:
          name: Bootstrap
          command: make bootstrap

      - run:
          name: Pre-load simulator
          command: *preload_simulator

      - run:
          name: Kickstarter UI Tests
          command: SCHEME=KickstarterUITests make test
          no_output_timeout: "20m" # 20 minutes

      - store_artifacts:
          path: /tmp/xcode_raw.log

  # KsApi tests
  ksapi-tests:
    <<: *base_job
    steps:
      - restore_cache:
          keys:
            - source-v1-{{ .Branch }}-{{ .Revision }}
            - source-v1-{{ .Branch }}-
            - source-v1-

      - checkout

      - run:
          name: Store Fabric SDK Version
          command: *store_fabric_sdk_version

      - restore_cache:
          keys:
            - fabric-sdk-cache-{{ checksum "fabric_version.txt" }}

      - run:
          name: Store Hockey SDK Version
          command: *store_hockey_sdk_version

      - restore_cache:
          name: Restore Hockey SDK
          keys:
            - hockey-sdk-cache-v1-{{ checksum "hockey_version.txt" }}

      - run:
          name: Store Xcode Version
          command: xcodebuild -version > xcode_version.txt

      - restore_cache:
          name: Restore Carthage Cache
          keys:
            - carthage-cache-v1-{{ checksum "Cartfile.resolved" }}-{{ checksum "xcode_version.txt" }}

      - run:
          name: Bootstrap
          command: make bootstrap

      - run:
          name: Pre-load simulator
          command: *preload_simulator

      - run:
          name: KsApi tests
          command: SCHEME=KsApi make test
          no_output_timeout: "20m" # 20 minutes

      - store_artifacts:
          path: /tmp/xcode_raw.log

  deploy_beta:
    <<: *base_job
    steps:
      - restore_cache:
          keys:
            - source-v1-{{ .Branch }}-{{ .Revision }}
            - source-v1-{{ .Branch }}-
            - source-v1-
      - checkout
      - save_cache:
          key: source-v1-{{ .Branch }}-{{ .Revision }}
          paths:
            - ".git"
      - run:
          name: Deploy Beta
          command: make beta

  # Hockey and S3 bucket beta
  beta:
    <<: *base_job
    steps:
      - restore_cache:
          keys:
            - source-v1-{{ .Branch }}-{{ .Revision }}
            - source-v1-{{ .Branch }}-
            - source-v1-

      - checkout

      - run:
          name: Store Fabric SDK Version
          command: *store_fabric_sdk_version

      - restore_cache:
          keys:
            - fabric-sdk-cache-{{ checksum "fabric_version.txt" }}

      - run:
          name: Store Hockey SDK Version
          command: *store_hockey_sdk_version

      - restore_cache:
          name: Restore Hockey SDK
          keys:
            - hockey-sdk-cache-v1-{{ checksum "hockey_version.txt" }}

      - run:
          name: Store Xcode Version
          command: xcodebuild -version > xcode_version.txt

      - restore_cache:
          name: Restore Carthage Cache
          keys:
            - carthage-cache-v1-{{ checksum "Cartfile.resolved" }}-{{ checksum "xcode_version.txt" }}

      - run:
          name: Bootstrap
          command: make bootstrap

      - restore_cache:
          keys:
            - v1-gems-{{ checksum "Gemfile.lock" }}
      - run:
          name: Bundle install
          command: bundle check || bundle install
          environment:
            BUNDLE_JOBS: 4
            BUNDLE_RETRY: 3
      - save_cache:
          key: v1-gems-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      - run:
          name: Increment build number
          command: agvtool new-version -all $(($(date +%s)/100))

      - run:
          name: Fastlane
          command: bundle exec fastlane beta_match_gym_hockey_s3 --verbose
          no_output_timeout: "30m" # 30 minutes

      - run:
          name: Cleanup Temp Branch
          command: make cleanup

      - store_artifacts:
          path: /tmp/xcode_raw.log

      - store_artifacts:
          path: output

  # Hockey Alpha
  alpha:
    <<: *base_job
    steps:
      - restore_cache:
          keys:
            - source-v1-{{ .Branch }}-{{ .Revision }}
            - source-v1-{{ .Branch }}-
            - source-v1-

      - checkout

      - run:
          name: Store Fabric SDK Version
          command: *store_fabric_sdk_version

      - restore_cache:
          keys:
            - fabric-sdk-cache-{{ checksum "fabric_version.txt" }}

      - run:
          name: Store Hockey SDK Version
          command: *store_hockey_sdk_version

      - restore_cache:
          name: Restore Hockey SDK
          keys:
            - hockey-sdk-cache-v1-{{ checksum "hockey_version.txt" }}

      - run:
          name: Store Xcode Version
          command: xcodebuild -version > xcode_version.txt

      - restore_cache:
          name: Restore Carthage Cache
          keys:
            - carthage-cache-v1-{{ checksum "Cartfile.resolved" }}-{{ checksum "xcode_version.txt" }}

      - run:
          name: Bootstrap
          command: make bootstrap

      - restore_cache:
          keys:
            - v1-gems-{{ checksum "Gemfile.lock" }}
      - run:
          name: Bundle install
          command: bundle check || bundle install
          environment:
            BUNDLE_JOBS: 4
            BUNDLE_RETRY: 3
      - save_cache:
          key: v1-gems-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      - run:
          name: Increment build number
          command: agvtool new-version -all $(($(date +%s)/100))

      - run:
          name: Fastlane
          command: bundle exec fastlane alpha_match_gym_hockey --verbose
          no_output_timeout: "30m" # 30 minutes

      - store_artifacts:
          path: /tmp/xcode_raw.log

      - store_artifacts:
          path: output

  refresh_app_store_dsyms:
    <<: *base_job
    steps:
      - restore_cache:
          keys:
            - source-v1-{{ .Branch }}-{{ .Revision }}
            - source-v1-{{ .Branch }}-
            - source-v1-

      - checkout

      - run:
          name: Store Fabric SDK Version
          command: *store_fabric_sdk_version

      - restore_cache:
          keys:
            - fabric-sdk-cache-{{ checksum "fabric_version.txt" }}

      - run:
          name: Store Hockey SDK Version
          command: *store_hockey_sdk_version

      - restore_cache:
          name: Restore Hockey SDK
          keys:
            - hockey-sdk-cache-v1-{{ checksum "hockey_version.txt" }}

      - run:
          name: Store Xcode Version
          command: xcodebuild -version > xcode_version.txt

      - restore_cache:
          name: Restore Carthage Cache
          keys:
            - carthage-cache-v1-{{ checksum "Cartfile.resolved" }}-{{ checksum "xcode_version.txt" }}

      - run:
          name: Bootstrap
          command: make bootstrap

      - restore_cache:
          keys:
            - v1-gems-{{ checksum "Gemfile.lock" }}
      - run:
          name: Bundle install
          command: bundle check || bundle install
          environment:
            BUNDLE_JOBS: 4
            BUNDLE_RETRY: 3
      - save_cache:
          key: v1-gems-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
      - run:
          name: Download dSYMs and upload to Crashlytics
          command: bundle exec fastlane refresh_dsyms

  # iTunes
  itunes:
    <<: *base_job
    steps:
      - restore_cache:
          keys:
            - source-v1-{{ .Branch }}-{{ .Revision }}
            - source-v1-{{ .Branch }}-
            - source-v1-

      - checkout

      - run:
          name: Store Fabric SDK Version
          command: *store_fabric_sdk_version

      - restore_cache:
          keys:
            - fabric-sdk-cache-{{ checksum "fabric_version.txt" }}

      - run:
          name: Store Hockey SDK Version
          command: *store_hockey_sdk_version

      - restore_cache:
          name: Restore Hockey SDK
          keys:
            - hockey-sdk-cache-v1-{{ checksum "hockey_version.txt" }}

      - run:
          name: Store Xcode Version
          command: xcodebuild -version > xcode_version.txt

      - restore_cache:
          name: Restore Carthage Cache
          keys:
            - carthage-cache-v1-{{ checksum "Cartfile.resolved" }}-{{ checksum "xcode_version.txt" }}

      - run:
          name: Bootstrap
          command: make bootstrap

      - restore_cache:
          keys:
            - v1-gems-{{ checksum "Gemfile.lock" }}
      - run:
          name: Bundle install
          command: bundle check || bundle install
          environment:
            BUNDLE_JOBS: 4
            BUNDLE_RETRY: 3
      - save_cache:
          key: v1-gems-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      - run:
          name: Increment build number
          command: agvtool new-version -all $(($(date +%s)/100))

      - run:
          name: Fastlane
          command: bundle exec fastlane itunes_match_gym_deliver_hockey --verbose
          no_output_timeout: "30m" # 30 minutes

      - store_artifacts:
          path: /tmp/xcode_raw.log

      - store_artifacts:
          path: output

# Workflows
workflows:
  version: 2
  build:
    jobs:
      - build-and-cache
      - kickstarter-tests
      - kickstarter-ui-tests
      - library-tests
      - ksapi-tests
      - refresh_app_store_dsyms:
          filters:
            branches:
              only: /beta-dist-.*/
      - deploy_beta:
          filters:
            branches:
              only: master
          requires:
            - build-and-cache
            - kickstarter-tests
            - kickstarter-ui-tests
            - library-tests
            - ksapi-tests
      - beta:
          filters:
            branches:
              only: /beta-dist-.*/
          requires:
            - build-and-cache
            - kickstarter-tests
            - kickstarter-ui-tests
            - library-tests
            - ksapi-tests
      - alpha:
          filters:
            branches:
              only: /alpha-dist.*/
          requires:
            - build-and-cache
            - kickstarter-tests
            - kickstarter-ui-tests
            - library-tests
            - ksapi-tests
      - itunes:
          filters:
            branches:
              only: itunes-dist
          requires:
            - build-and-cache
            - kickstarter-tests
            - kickstarter-ui-tests
            - library-tests
            - ksapi-tests

experimental:
  notify:
    branches:
      only:
        - master
        - /alpha-dist.*/
        - /beta-dist-.*/
        - itunes-dist
