//********************************************//
//* Base *//
//********************************************//

ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = NO
APPLICATION_EXTENSION_API_ONLY = NO
FRAMEWORK_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Frameworks $(PROJECT_DIR)/Frameworks/Fabric $(PROJECT_DIR)/Carthage/Build/iOS $(PROJECT_DIR)/Frameworks/HockeySDK
IPHONEOS_DEPLOYMENT_TARGET = 11.4
LD_RUNPATH_SEARCH_PATHS = @executable_path/Frameworks @loader_path/Frameworks
ONLY_ACTIVE_ARCH[config=Debug] = YES
SDKROOT = iphoneos
STRIP_BITCODE_FROM_COPIED_FILES = NO
STRIP_STYLE = debugging
SWIFT_SWIFT3_OBJC_INFERENCE = Default
SWIFT_VERSION = 5.0
TARGETED_DEVICE_FAMILY = 1,2

PRODUCT_BUNDLE_IDENTIFIER[config=Debug] = com.kickstarter.kickstarter.debug
PRODUCT_BUNDLE_IDENTIFIER[config=Hockey Alpha] = com.kickstarter.kickstarter.kickalpha
PRODUCT_BUNDLE_IDENTIFIER[config=Hockey Beta] = com.kickstarter.kickstarter.beta
PRODUCT_BUNDLE_IDENTIFIER[config=Release] = com.kickstarter.kickstarter

CODE_SIGN_ENTITLEMENTS[config=Debug] = Kickstarter-iOS/Debug.entitlements
CODE_SIGN_ENTITLEMENTS[config=Hockey Alpha] = Kickstarter-iOS/Alpha.entitlements
CODE_SIGN_ENTITLEMENTS[config=Hockey Beta] = Kickstarter-iOS/Beta.entitlements
CODE_SIGN_ENTITLEMENTS[config=Release] = Kickstarter-iOS/Release.entitlements

PRODUCT_NAME[config=Debug] = KickDebug
PRODUCT_NAME[config=Hockey Alpha] = KickAlpha
PRODUCT_NAME[config=Hockey Beta] = KickBeta
PRODUCT_NAME[config=Release] = Kickstarter